.Search{
    position: relative;
    width: 615px;
    height: 68px;
    margin: 2rem 0;
    color: #B3B1B7;
    display: flex;
    flex-direction: column;
    align-items: center;
    input{
        width: 615px;
        height: 68px;
        border-radius: 10px;
        border: none;
        outline: none;
        box-shadow: 0 10px 20px 5px (rgba(24, 94, 109, .09));
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 18px;
        padding-left: 3.5rem;
        color: #64626A;
    }
}
.searchicon{
    position: absolute;
    left: 0;
    top: 1.5rem;
}
::placeholder{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
@media (max-width: 1030px){
    .Search{
        width: 550px;
        input{
            width: 550px;
        }
    }
}
@media(max-width: 900px){
    .Search{
        width: 450px;
        input{
        width: 450px;
        }
    }
}
