.Secondsection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 7rem 0;
  gap: 2rem;
  .help-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 17rem;
    padding: 0 2rem;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #64626a;
    cursor: pointer;
  }
  .help-list:hover {
    box-shadow: 0 5px 15px (rgba(24, 94, 109, 0.09));
  }
  .icons {
    width: 72px;
    height: 72px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
  }
}
@media (max-width: 1250px) {
  .Secondsection {
    .help-list {
      width: 18rem;
    }
  }
}
@media (max-width: 1220px) {
  .Secondsection {
    grid-template-columns: repeat(2, 1fr);
    .help-list {
      width: 20rem;
    }
  }
}
@media(max-width: 900px){
  .Secondsection{
    .help-list{
      width: 15rem;
    }
  }
}
@media(max-width: 700px){
  .Secondsection{
    gap: 1rem;
    .help-list{
      width: 12rem;
      font-size: 14px;
    }
    h3{
      font-size: 20px;
    }
  }
}
@media(max-width: 590px){
  .Secondsection{
    grid-template-columns: 1fr;
    margin: 4rem 0;
    .help-list{
      width: 15rem;
      font-size: 14px;
    }
    h3{
      font-size: 24px;
    }
  }
}
